{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="{% static 'miaplicacion/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'miaplicacion/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Tercera Pre-Entrega</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'grupos' %}#grupos">Grupos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'supervisores' %}#supervisores">Supervisores</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'usuarios' %}#usuarios">Usuarios</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white" id="about">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Bienvenido a la tercera pre-entrega de Javier Arboleda</h1>
                <p class="lead">Esto es una plantilla funcional de un sistema de administración de usuarios</p>
            </div>
        </header>
        <!-- About section-->
        <section id="inicio">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Acerca de ésta página</h2>
                        <p class="lead">En ésta página se pueden visualizar datos registrados y tiene formularios para el registro de información de Grupos, Supervisores y Usuarios. Puede usar los links superiores o las listas de abajo para acceder a las páginas internas.</p>
                        <p class="Lorem">El orden de registro de datos es según se indica en la lista:</p>
                        <ul>
                            <li>1.- Ver lista y agregar Grupos : <a class="btn btn-sm btn-light" href="{% url 'grupos' %}#grupos">GRUPOS</a></li>
                            <li>2.- Ver lista y agregar Supervisores : <a class="btn btn-sm btn-light" href="{% url 'supervisores' %}#supervisores">SUPERVISORES</a></li>
                            <li>3.- Ver lista y agregar Usuarios : <a class="btn btn-sm btn-light" href="{% url 'usuarios' %}#usuarios">USUARIOS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        {% block bloqueGrupos %}
        {% endblock %}

        {% block bloqueSupervisores %}
        {% endblock %}

        {% block bloqueUsuarios %}
        {% endblock %}

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'miaplicacion/js/scripts.js' %}"></script>
    </body>
</html>
