<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervisores</title>
</head>
<body>
    
    {% extends "miAplicacion/index.html" %}
    {% load static %}
    {% block bloqueSupervisores %}

    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center bottom-line">Supervisores Registrados</h3>
                        <a type="button" class="btn btn-primary" href="{% url 'supervisoresForm' %}">Agregar Supervisor</a>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Código</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Idioma</th>
                                <th scope="col">Email</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Creacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for supervisor in supervisoresTodos %}
                                    <tr>
                                        <th scope="row">{{ supervisor.id }}</th>
                                        <td>{{ supervisor.codigo }}</td>
                                        <td>{{ supervisor.nombres }}</td>
                                        <td>{{ supervisor.idioma }}</td>
                                        <td>{{ supervisor.email }}</td>
                                        <td>{{ supervisor.estado }}</td>
                                        <td>{{ supervisor.creacion }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

</body>
</html>