<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    
    {% extends "miAplicacion/index.html" %}
    {% load static %}
    {% block bloqueUsuarios %}

    <section id="usuarios">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Registro de Usuarios</h2>

                </div>
            </div>
        </div>
    </section>

    {% endblock %}
    
</body>
</html>